
$primaryColor: #f9b100 !default;
$secondaryColor: #2d9edb !default;
$tertiaryColor: #399233 !default;
$quaternaryColor: #e31b35 !default;
$quinaryColor: #374785 !default;

$headlineFont: "";
$subheadFont: "";
$textFont: "";